* {
    margin:0;
    padding:0;
}
html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 5px;
}
body::-webkit-scrollbar-thumb {
    background:transparent;
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(97, 97, 97);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}
@font-face {
    src: url("fonts/Gepestev-nRJgO.ttf");
    font-family: Gepestev;
}
@font-face {
    src: url("fonts/Blanka-Regular.ttf");
    font-family: Blanka;
}

h1, h2, h3{
    color:white;
}
#topbar {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    display:none;
}
#topbarfont {   
    float: left;
}
#topbarfont a{
    font-family: Gepestev;
    font-size: 20px;
    display:block;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    color: white;
    font-weight: lighter;
}
#topbarfont #kelan{
    font-size: 200%;
}
#topbarfont a:hover {
    color:orange;
}
#Welcome {
    background-image: url("images/shape.gif");
    background-repeat:no-repeat;
    height: 800px;
    width: auto;
    position:relative;
}
#Welcome h3 {
    text-align: center;
    font-family: Gepestev;
    font-size: 120%;
    position:relative; top:380px;
    margin-left: 10%;
    margin-right: 10%;
}
#Name {
    font-family: Blanka;
    font-size: 400%;
    color: whitesmoke;
    font-weight: bold;
    letter-spacing:15px;
    text-align: center;
    position:relative; top:320px; left:10px;
    
    
}
.box {
    background-color: rgb(37.5, 37.5, 37.5);
    border-top: 1px solid rgb(204, 204, 204);
    border-radius: 10px;

}
.desFont {
    color: white;
    font-family: Gepestev;
    font-size: 35px;
    letter-spacing: 5px;
    text-align: center;
    padding: 25px;
    
}
.pFont {
    font-family: Helvetica;
    font-size: 16px;
    padding: 0px 30px 20px; 
    color:white;
    line-height: 28px;
}
.socials i{
    border-style: solid;
    border-radius: 10px;
    padding:10px;
    background-color:rgb(44, 44, 44);
    
}

.fa-github-alt {
    color:rgb(255, 255, 255);
    display: inline-block;
    width: auto;
    height:auto;
    text-align: center;
    position: relative; top:440px; right:50px;
    
}
.fa-github-alt:hover {
    color: #a250ff;
}
.fa-linkedin-in {
    color:rgb(255, 255, 255);
    display: inline-block;
    width: auto;
    height:auto;
    text-align: center;
    position: relative; top:440px;
}
.fa-linkedin-in:hover {
    color: #2d70ff;
}
.fa-instagram {
    color:rgb(255, 255, 255);
    display: inline-block;
    width: auto;
    height:auto;
    text-align: center;
    position: relative; top:440px; left:50px;
}
.fa-instagram:hover {
    color: #ff57d5;
}
#preloader {
    background: rgb(27, 27, 27) url("images/preloader.gif") no-repeat center center;
    background-size: 30%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;

}
/* small screens ex. iphone 6 */
@media only screen and (min-width: 412px) {
    
}
/* medium screens ex. iphone 7 plus & iphone XR */
@media only screen and (min-width: 768px) {
    #topbar {
        display:block;
        width:100%;
    }
    #Welcome {
        background-repeat:round;
    }
    #Name {
        font-size:500%;
    }
    .desFont {
        font-size: 50px;
    }
    .pFont {
        font-size:20px;
        padding: 10px 50px 30px; 
    }
    .box {
        margin: 0% 10%;
    }
}
@media only screen and (min-width: 1100px) {
    #Welcome {
        margin: 0% 10%;
    }
    #Name {
        font-size: 600%;
    }
    .desFont {
        padding: 50px;
        font-size: 70px;
    }
    .pFont {
        font-size:22px;
        line-height:30px;
    }
    #preloader {
        background-size: 10%;
    }
}
@media only screen and (min-width: 1921px) {
    #Welcome {
        margin: 0% 20%;
    }
    .box {
        margin: 0% 20%;
    }
}