* {
    margin:0;
    padding:0;
}
html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 5px;
}
body::-webkit-scrollbar-thumb {
    background:transparent;
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(97, 97, 97);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}
@font-face {
    src: url("fonts/Gepestev-nRJgO.ttf");
    font-family: Gepestev;
}
@font-face {
    src: url("fonts/Blanka-Regular.ttf");
    font-family: Blanka;
}

h1, h2, h3{
    color:white;
}

.navigation {
    background-color: rgb(69, 188, 204);
    
}

#topbar {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    display:none;
    
}
#topbarfont {   
    float: left;
}
#topbarfont a{
    font-family: Gepestev;
    font-size: 20px;
    display:block;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    color: black;
    font-weight: lighter;
}

#topbarfont a:hover {
    color:orange;
}
#Welcome {
    background-image: url("images/shape.gif");
    background-repeat:no-repeat;
    height: 800px;
    width: auto;
    position:relative;
}
#Welcome h3 {
    text-align: center;
    font-family: Gepestev;
    font-size: 120%;
    position:relative; top:380px;
    margin-left: 10%;
    margin-right: 10%;
}
#Name {
    font-family: Blanka;
    font-size: 00%;
    color: whitesmoke;
    font-weight: bold;
    letter-spacing:15px;
    text-align: center;
    position:relative; top:320px; left:10px;
    
    
}
.box {
    background-color: rgb(37.5, 37.5, 37.5);
    
    border-radius: 10px;

}
.desFont {
    color: white;
    font-family: Gepestev;
    font-size: 30px;
    letter-spacing: 5px;
    text-align: left;
    padding: 25px;
    
}
.pFont {
    font-family: Helvetica;
    padding: 0px 30px 20px; 
    color:white;
    line-height: 28px;
    text-align: left;
}
.pFont p {
    font-size:20px;
    font-family:Gepestev;

}
.socials i{
    border-style: solid;
    border-radius: 10px;
    padding:10px;
    background-color:rgb(44, 44, 44);
    
}

.fa-github-alt {
    color:rgb(255, 255, 255);
    display: inline-block;
    width: auto;
    height:auto;
    text-align: center;
    position: relative; top:440px; right:50px;
    
}
.fa-github-alt:hover {
    color: #a250ff;
}
.fa-linkedin-in {
    color:rgb(255, 255, 255);
    display: inline-block;
    width: auto;
    height:auto;
    text-align: center;
    position: relative; top:440px;
}
.fa-linkedin-in:hover {
    color: #2d70ff;
}
.fa-instagram {
    color:rgb(255, 255, 255);
    display: inline-block;
    width: auto;
    height:auto;
    text-align: center;
    position: relative; top:440px; left:50px;
}
.fa-instagram:hover {
    color: #ff57d5;
}
#preloader {
    background: rgb(27, 27, 27) url("images/preloader.gif") no-repeat center center;
    background-size: 30%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;

}

.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin-top: 10px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-right : 0px;
  }
  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }
.fourth {
    border-color: #cfa723;
    color: #fff;
    background-image: -webkit-linear-gradient(45deg, #cfa723 50%, transparent 50%);
    background-image: linear-gradient(45deg, #cfa723 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 400ms ease-in-out;
    transition: background 400ms ease-in-out;
  }
  .fourth:hover {
    background-position: 0;
  }
  
.float-container-child {
    width: 50%;
    float: left;
    border: 1px ;
    border-color: white;
    
}
#uh-logo {
    max-width: 350px;
    height: auto;
    float:right;
    
}

/* small screens ex. iphone 6 */
@media only screen and (min-width: 412px) {
    .btn{
        margin-right: 0px;
    }
}
/* medium screens ex. iphone 7 plus & iphone XR */
@media only screen and (min-width: 768px) {
    #topbar {
        display:block;
        width:100%;
    }
    #Welcome {
        background-repeat:round;
    }
    #Name {
        font-size:500%;
    }
    .desFont {
        font-size: 50px;
    }
    .pFont {
        font-size:20px;
        padding: 10px 50px 30px; 
    }
    .box {
        margin: 0% 10%;
    }
    .btn{
        margin-right: 50px;
    }
    
}
@media only screen and (min-width: 1100px) {
    #Welcome {
        margin: 0% 10%;
    }
    #Name {
        font-size: 600%;
    }
    .desFont {
        padding: 50px;
        font-size: 50px;
    }
    .pFont {
        font-size:22px;
        line-height:30px;
    }
    #preloader {
        background-size: 10%;
    }
    .btn{
        margin-right: 200px;
    }
}
@media only screen and (min-width: 1921px) {
    #Welcome {
        margin: 0% 20%;
    }
    .box {
        margin: 0% 20%;
    }
    .btn{
        margin-right: 500px;
    }
}





